* {
  margin: 0;
}

body {
  background-color: #f1ece3;
}

/* Header  */

header,
footer {
  background-color: #5c432f;
  color: #ecd9c6;
  display: flex;
  height: 20%;
}

header h1 {
  font-family: "Caveat Brush", cursive;
  display: inline-block;
  overflow: hidden;
  font-size: 50px;
  margin-left: 2%;
}

nav {
  font-family: "Hubballi", cursive;
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 12px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 10px;
  vertical-align: center;
  font-size: x-large;
}

nav ul li {
  justify-content: space-between;
  margin: 8px;
  align-items: center;
  padding: 4px;
}

nav ul li a {
  list-style: none;
  color: #87a9ed;
  font-style: bold;
}

#sub-head {
  background-color: #d8bca6;
  text-align: center;
  padding: 6px;
  font-family: "Hubballi", cursive;
  font-size: large;
}

/* Image Row */

.columns {
  justify-content: space-around;
  margin: 2px;
  padding: 4px;
  align-items: center;
}

img {
  border: #5c432f solid 4px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #d3e1ff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid #5c432f;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #2f497f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalBtn {
  text-align: center;
}

#modalBtn button {
  background-color: #5c432f;
  opacity: 80%;
  color: #ecd9c6;
  font-size: larger;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 2px 2px 5px gray;
  font-family: "Hubballi", cursive;
}

#modalBtn button:hover {
  background-color: #b3c2df;
  color: #967b67;
  box-shadow: 3px 3px 4px rgb(109, 106, 106);
}

/* Search results */
#resultsHere {
  margin: 40px;
  background-color: #5c432f;
  color: #ecd9c6;
  font-family: "Hubballi", cursive;
  width: 75vw;
  display: none;
}

#dogImg {
  list-style: none;
}

/* Box of facts and info */
.info-blocks div {
  background-color: rgba(165, 190, 238, 0.7);
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
}

.info-blocks h3 {
  color: #5c432f;
  font-family: "Caveat Brush", cursive;
  font-size: xx-large;
}

.info-blocks p {
  color: #2f497f;
  font-family: "Hubballi", cursive;
  font-size: larger;
  text-align: center;
}

.info-blocks a {
  list-style: none;
  text-decoration: none;
  color: #2f497f;
}

.info-blocks a:hover {
  color: #2f497f;
}

.next-btn {
  align-items: center;
  background-color: #5c432f;
  opacity: 80%;
  color: #ecd9c6;
  font-size: larger;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 2px 2px 5px gray;
  font-family: "Hubballi", cursive;

  margin: 0 auto;
}

.next-btn:hover {
  background-color: #b3c2df;
  color: #967b67;
  box-shadow: 3px 3px 4px rgb(109, 106, 106);
}

.donate {
  text-decoration: underline;
  font-weight: bold;
}

/* footer */
footer {
  font-size: xx-large;
  padding: 15px;
}

/* Fun facts styling*/
.funfacts {
  align-items: center;
  margin: 10px auto;
}

/* Media Queries */

@media screen and (max-width: 1100px) {
  img {
    width: 90%;
    height: auto;
    margin: 0 -60px;
  }

  #image-space {
    margin-left: 147px;
  }
}

@media screen and (max-width: 575px) {
  img {
    width: 60%;
    height: auto;
  }

  #image-space {
    margin-left: 199px;
    margin-bottom: -12px;
  }

  header h1 {
    font-size: 38px;
    margin-left: 2%;
  }

  nav {
    margin-top: 1px;
  }

  nav ul {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  img {
    width: 60%;
    height: auto;
  }

  #image-space {
    margin-left: 112px;
    margin-bottom: -12px;
  }

  header h1 {
    font-size: 30px;
    margin-left: 2%;
  }

  nav {
    margin-top: -1px;
  }

  nav ul {
    font-size: 16px;
  }
}
